#**Theoretical** **question**

# Q1. What are data structures, and why are they important?

* The Importance of Understanding Data Structures
Data structures are formats that organize, store, and process data in a computer system.

*   They are important because,

1. Data Handling
2. Organization
3. efficiency
4. Real-Word Analogy

# Q2.  Explain the difference between mutable and immutable data types with examples.

*   Mutable Data types: These data types can be modified after they are created. For example, in Python, lists, dictionaries, and sets are mutable data types.
*   Immutable Data Types: These data types cannot be changed after they are created. For example, in Python, strings, tuples, integers, and floats are immutable data types.

# Q3.  What are the main differences between lists and tuples in Python?

#Mutability
Lists: Mutable, meaning they can be changed,  
Tuples: Immutable, meaning they cannot be changed
#Syntax
Lists: Use square brackets,
Tuples: Use round brackets or parenthesis
#Performance
Tuples: Use less memory and are faster to access than lists
#Use cases
Lists: Useful for deletion and insertion operations,
Tuples: Useful for read-only operations, such as accessing elements
#Other differences
Lists have a dynamic length, while tuples have a fixed length.
Lists have more built-in methods than tuples.
Lists can be nested in other lists, and tuples can be nested in other tuples

# Q4. Describe how dictionaries store data?

*   Dictionaries are used to store data values in key:value pairs.

# Q5. Why might you use a set instead of a list in Python?

*   Use a set instead of a list because set is an unordered collection of unique element, meaning a set does not allow any duplicate element.

# Q6. What is a string in Python, and how is it different from a list?

*   A string is a sequence of characters between single or double quotes.

*   A string is a sequence of characters and a list is a sequence of items  where each item could be anything (an integer, a float, a string, etc).

#Q7. How do tuples ensure data integrity in Python?

*   Tuples are immutable to ensure that their contents remain constant throughout their lifecycle.

# Q8. What is a hash table, and how does it relate to dictionaries in Python?

*    A hash table is a data structure that stores key-value pairs in an associative array.
*   In Python, a dictionary is a data type that implements a hash table.

# Q9. Can lists contain different data types in Python?

*   A list can also contain a mix of Python types including strings, floats, and booleans.

# Q10. Explain why strings are immutable in Python?

*   Strings Are immutable because, they cannot be changed after they are created.

# Q11. What advantages do dictionaries offer over lists for certain tasks?

*   Dictionary is more efficient to use for the searching of elements as it can be carried out in a much faster manner than list.

# Q12. Describe a scenario where using a tuple would be preferable over a list?

*   Tuples Are immutable so for stored a fixed data like Employee id we prefer tuple over list.

# Q13.  How do sets handle duplicate values in Python?

*   Sets are unordered collection of unique elements, so it is not allowed any duplicate value atomatic erase that duplicate value.

# Q14. How does the “in” keyword work differently for lists and dictionaries?

*   When used with a list, the "in" keyword checks if a particular value exists as an element in the list.

*   When used with a dictionary, the "in" keyword checks if a particular key exists in the dictionary (not values).

# Q15. Can you modify the elements of a tuple? Explain why or why not.

*   No, we can not modify the elements of tuple are immutable, these are not changeble.

# Q16. What is a nested dictionary, and give an example of its use case.

*   A nested dictionary is a dictionary inside another dictionary. It allows hierarchical storage of data, making it useful for representing complex structures.

*   USE CASE:-
 1. Storing Data in Structured Form
 2. Config Files and Settings Storage

# Q17. Describe the time complexity of accessing elements in a dictionary.

*   In Python, dictionaries are implemented using hash tables, making element access highly efficient. The time complexity for accessing elements in a dictionary depends on the operation:

1. Accessing a Value by Key
2. Checking Key Existence (in Operator)
3. Iterating Over a Dictionary

# Q18.  In what situations are lists preferred over dictionaries?

*   Situations are:
1. Order matters.
2. We need fast iteration.
3. We need index-based access.
4. Memory efficiency is important.
5. Sorting and slicing are required.
6. Duplicates are allowed.
etc

# Q19.  Why are dictionaries considered unordered, and how does that affect data retrieval?

*   Dictionaries in Python were traditionally considered unordered because they were implemented using hash tables, which store elements based on hash values, not insertion order.

*  Unordered Nature Affect Data Retrieval:
1. No Index-Based Access
2. Iterating Order Was Unpredictable on pre 3.7 version of python.

# Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

1. List data is accessed by index, which is an integer position.
Dictionary data is accessed by key (not index), which can be a string, integer, or other hashable types.
2. List always ordered. Elements are stored in the order in which they are inserted, and you can access them via their index.
 In dictionary order was not guaranteed until Python 3.7,

# PRACTICAL QUESTIONS

# Q1. Write a code to create a string with your name and print it.

In [1]:
name= "Debasish Chakraborty"
print(name); type(name)

Debasish Chakraborty

str

# Q2. Write a code to find the length of the string "Hello World"

In [2]:
a= "Hello World"
len(a)

11

# Q3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
a="Python Programming"
a[0:3]

'Pyt'

# Q4. Write a code to convert the string "hello" to uppercase.

In [4]:
b="hello"
b.upper()

'HELLO'

# Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
a="I like apple"
b= a.replace("apple","orange")
b

'I like orange'

# Q6.  Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
numbers= [1,2,3,4,5]
print(numbers); type(numbers)

[1, 2, 3, 4, 5]

list

# Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
a=[1,2,3,4]
a.append(10)
print(a); type(a)

[1, 2, 3, 4, 10]

list

# Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
a= [1,2,3,4,5]
a.remove(3)
print(a);type(a)

[1, 2, 4, 5]

list

# Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [10]:
my_list=["a","b","c","d"]
my_list[1]

'b'

# Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [13]:
a=[10,20,30,40,50]
a[::-1]

[50, 40, 30, 20, 10]

# Q11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [14]:
a=(10,20,30)
print(a); type(a)

(10, 20, 30)

tuple

# Q12.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [16]:
my_code=('apple','banana','cherry')
my_code[0]

'apple'

# Q13.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [17]:
a= (1,2,3,2,4,2)
a.count(2)

3

# Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [18]:
a=('dog','cat','rabbit')
a.index("cat")

1

# Q15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [19]:
a= ('apple','orange','banana')
if "banana" in a:
  print(True)
else:
  print(False)

True

# Q16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [22]:
a= {1,2,3,4,5}
print(a);type(a)

{1, 2, 3, 4, 5}

set

# Q17.  Write a code to add the element 6 to the set {1, 2, 3, 4}

In [24]:
a={1,2,3,4}
a.add(6)
print(a);type(a)

{1, 2, 3, 4, 6}

set

# Q18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [25]:
a= (10,20,30)
print(a); type(a)

(10, 20, 30)

tuple

# Q19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [26]:
sentence= ('apple','banana','cherry')
sentence[0]

'apple'

# Q20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [27]:
num=(1,2,3,2,4,2)
num.count(2)

3

# Q21.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [28]:
a= ('dog','cat','rabbit')
a.index("cat")

1

# Q22.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [32]:
code= ('apple','orange','banana')
"banana" in code

True

# Q23.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [33]:
a={1,2,3,4,5}
print(a); type(a)

{1, 2, 3, 4, 5}

set

# Q24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [35]:
my_code= {1,2,3,4}
my_code.add(6)
print(my_code); type(my_code)

{1, 2, 3, 4, 6}

set